footer{
    background-color: black;
    display: block;
    height: 100%;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}

footer h1{
    color: #DD1F23;
    margin: 0px;
}

footer p{
    color: #DD1F23;
    margin: 0px;
    font-size: 20px;
}

footer img{
    float: left;
    width: 75px;
}